extends layouts/mobile

block content
  //script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3D3mKd5eYrbuyzFS2a3IfN1ubG3fuPcw&sensor=true")
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?sensor=true")
  #map-canvas
